/www
/tmp
/api
/bin
/config
/db
/doc
/framework
/hook
/lib
/sdk
/test
/extension/biz
/extension/lite
/extension/max
/extension/xuan
/extension/index.html
/xdebug.php
/index.html
/VERSION
/module
/backup
