/www
/tmp
/api
/bin
/config
/db
/doc
/framework
/hook
/lib
/sdk
/test
/extension/biz
/extension/lite
/extension/max
/extension/xuan
/extension/index.html
/xdebug.php
/index.html
/VERSION
/module
/backup
/.git.zip
/extension/*.zip
extension/banniu_rel*.sql
/extension/custom/zentao*bk.sql
/extension/custom/banniu_uninstall_rel*.sql
/extension/custom/banniu_rel*.sql
/extension/custom/客户名称转拼音*.*
/extension/custom/已成交班牛企业版老客户*.*
/*pid*.log
/extension/custom/星链客户*.*
/extension/custom/json2csv.py
/extension/custom/demo
/extension/custom/port
